{% extends 'base.html'%}

{%block content %}
    <h1>List of Contacts</h1>

    


    <div class='table_div'>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul >
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <table class="contact_table">
            
        <tr>
            <th class="col_id">id</th>
            <th class ='col_name'>Name</th>
            <th class="col_phone">Phone</th>
            <th class="col_email">Email</th>
            <th class="col_address">Address</th>
            
        </tr>


        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phone.replace(" ","") }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.address }}</td>
            </tr>
        {% endfor %}

        </table> 
    </div>
    <div class = 'a_div'>
        <a href="/" class="back_link">Back to home</a>
    </div>   
    

{% endblock %}